<div class="auction" style="padding-left: 30px">
  <div class="auction-header">
    <h1>Import Auctions with CSV</h1>
  </div>
  <div class="flash-message" style="color:blue;">
    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>
  </div>
  <div class="auction-form-csv_import">
    <%= form_tag import_auctions_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "Import CSV"%>
    <% end %>
  </div>
  <div class="auction-index">
    <% @auctions.each do |auction| %>
      <h3><%= auction.name %>, <%= auction.city %></h3>
      <p>
        <li>Number of vehicles sold: <%= auction.vehicles_count %></li>
        <li>Total Profit: <%= number_to_currency(auction.total_profit) %></li>
        <li>Average Profit Per Vehicle: <%= number_to_currency(auction.average_profit) %></li>
      </p>
    <% end %> 
  </div>
</div>
